
.sign-in-button {
  width: 180px;
  height: 50px;
  border-radius: 6px;
  border: 0px;
  background-color: white;
  color: black;
  font-family: 'Montserrat-SemiBold';
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.desactivated {
  cursor: not-allowed;
  background-color: rgb(181, 181, 181);
  color: rgb(255, 255, 255);
}
