//z-indexes
$base-level: 0;
$first-level: 1;
$second-level: 2;
$map-level: 3;
$on-map-level: 4;
$drop-down-level: 5;
$loading-level: 6;
$pop-up-level: 7;
$top-level: 8;

//border
$field-border: 2px solid #5c5c5c;
$field-border-focus: 2px solid black;

//colors
$disabled-background: #d8d8d8;
$disabled-color: #b8b8b8;
$main-background-color: #f1f1f1;
$field-background-color: #fafbfc;
$field-hover-background-color: #ebecf0;
$error-background: #ff1a49;
$warning-background: #ffa200;
$info-background: #1492e6;
$success-background: #00d65d;

// border shaddow
$main-container-box-shadow: 0px 0px 10px #0000002a;
$main-container-box-shadow-light: 0px 0px 10px #00000004;
$content-field-box-shadow: 0px 0px 6px #c9c9c9;

//border radius
$field-box-radius: 8px;
$main-container-box-radius: 10px;
